body{
background-image: linear-gradient(to right, #868f96 0%, #596164 100%);}
h1{
  text-align: center;
  text-shadow: 1px 1px 2px darkred;
}

ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 75%;
  margin: 2%;
  background: #12121212;
  box-sizing: border-box;
  padding: 2%;
  box-shadow: 2px 2px 4px darkred;
}

button{
  background: darkred;
  padding: 0.5em;
  margin: 0.5em;
}

h6{
  text-decoration: underline;
  font-size: 1.2em;
  margin-top: 2px;
  margin-bottom: 2px;
}
